body{
    margin : 0;
    padding : 0;
    display : flex;
    justify-content : space-around;
    align-items : center;
    height : 100vh;
    background-color :rgb(255, 232, 245);
}

.container{
    border : none;
    border-radius : 15px;
    background-color :rgb(150, 131, 232);
    height : auto;
    width : 50vh;
    box-shadow : 8px 8px 10px;
}

.header{
    text-align : center;
    padding : 10px;
    font-size : 2.8em;
    font-weight: 1000;
    border-bottom: 0.5px solid black;
    margin-bottom: 20px;
}

.addTask{
    display: flex;
    justify-content : space-evenly;
    border-radius: 1px;
}

input{
    padding : 7px;
    border-radius: 5px;
    outline : none;
    border: 2px solid black;
}

button:hover{
    border : 3px;
    box-shadow: 2px 2px 2px;
}

button {
    background-color: rgb(250, 138, 199);
    color: rgb(11, 11, 11);
    padding : 3px;
    border-radius: 5px;   
    cursor: pointer;
    /* hover slowly 1sec */
    transition: 1s;
}

ul{
    list-style : none;
    padding :15px;
}

li{
    display :flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 5px;
    padding :7px;
    margin-bottom : 7px;
}



